@import url(http://fonts.googleapis.com/css?family=Lobster);
 
#page {
  margin: 0 15px;
  padding-top: 30px;
}

label {
  font-size: 0.875em;
}

.btn-primary {
  background-color: #fa1954;
  border: 0;
  margin: 10px 0;
}
.btn-primary:hover {
  background-color: #db053d;
}

.form-group.error input {
  border-color: #ee4141;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238, 65, 65, 0.4);
}
.form-group.error label.error {
  margin-top: 5px;
  color: #ee4141;
}

.pod {
  padding: 25px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.pod h3 {
  text-align: center;
  margin: 10px 0 30px;
  font-family: "Lobster", cursive;
}

#password-info {
  margin: 20px 0;
  overflow: hidden;
  text-shadow: 0 1px 0 #fff;
}
#password-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#password-info ul li {
  padding: 10px 10px 10px 50px;
  margin-bottom: 1px;
  background: #f4f4f4;
  font-size: 12px;
  transition: 250ms ease;
  position: relative;
}
#password-info ul li .icon-container {
  display: block;
  width: 40px;
  background: #92bce0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
#password-info ul li .icon-container .fa {
  color: white;
  padding-top: 10px;
  position: relative;
  top: 2px;
}
#password-info ul li .tip {
  color: #5ca6d5;
  text-decoration: underline;
}
#password-info ul li.valid {
  color: #129652;
}
#password-info ul li.valid .icon-container {
  background-color: #18c36b;
}
#password-info ul li span.invalid {
  color: #ff642e;
}